/* Reset styles start */

* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

/* Reset styles end */


/* Global styles start */

.container{
  max-width: 991px;
  margin: 0 auto;
}

/* Global styles end */


/* Content start */




/* Content end */